*.aux
*.out
*.log
*.aux
*.auxbbl
*.aux.make
*.auxbbl.make
*.bbl
*.d
*.idx
*.ind
*.lof
*.lot
*.toc
*.blg
*.fls
*.ilg
*.temp
*.make
thesis.*.gnuplot
thesis-figure*
thesis.pdf
slides.nav
slides.pdf
slides.snm
slides.cur.gnuplot
slides.des.gnuplot
slides.trans.gnuplot
slides-figure*
slides.auxlock
slides-handout.pdf
